/* You can add global styles to this file, and also import other style files */
@import url("~bootstrap/dist/css/bootstrap.css");

  .red{
    background-color: red;
    color: #000;
  }
  .blue{
    background-color: blue;
    color: #000;
  }
  .yellow{
    background-color: yellow;
    color: #000;
  }